# Dependencies
/node_modules
/functions/node_modules

# Build outputs
/.next/
/out/

# Local Environment Variables
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
*.pem
